@import "tailwindcss";


ul li:after {
  content: '';
  width: 0%;
  height: 2px;
  background-color: #db20d5;
  display: block;
  margin: auto;
  transition: 0.5s;

}

ul li:hover::after {
width: 100%;

}
.headings{
  display: inline-block;
}

.headings:after {
  content: '';
  width: 0%;
  height: 2px;
  background-color: #db20d5;
  display: block;
  margin: left;
  transition: 0.5s;
  margin-top: 5px;

}
.headings:hover::after {
width: 100%;
}